@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, form, h1, h2, h3, h4, h5, h6, hr, fieldset, input, img {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  border: 0;
}

.header_mid {
  width: 100%;
  height: 90px;
  overflow: hidden;
}

.header_mid .header_sec {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}

.header_mid img:first-child {
  width: 240px;
  height: 90px;
  float: left;
}

.header_mid .sec_search_content {
  width: 482px;
  height: 61px;
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 120px;
}

.header_mid .sec_search_content .search_innerbox {
  width: 478px;
  height: 36px;
  border: 1px solid #f07;
  border-radius: 0 6px 6px 0;
  box-sizing: border-box;
}

.header_mid .sec_search_content .search_innerbox .selectbox {
  position: absolute;
  left: 1px;
  top: 3px;
  width: 60px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: #f07;
  font-size: 12px;
  cursor: pointer;
  background-color: #fff;
}

.header_mid .sec_search_content .search_innerbox .selectbox .selected {
  display: block;
  width: 60px;
  height: 32px;
}

.header_mid .sec_search_content .search_innerbox .selectbox .selected i {
  border: 4px solid transparent;
  border-top-color: #f07;
  position: absolute;
  left: 52px;
  top: 15px;
}

.header_mid .sec_search_content .search_innerbox .selectbox ol {
  width: 60px;
  padding-top: 2px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
  position: absolute;
  left: -1px;
  top: 33px;
}

.header_mid .sec_search_content .search_innerbox .selectbox .current {
  width: 60px;
  height: 30px;
  background: #fff;
  text-align: center;
}

.header_mid .sec_search_content .search_innerbox .selectbox .current:hover {
  background: #ffeef4;
}

.header_mid .sec_search_content .search_innerbox .selectbox .current a {
  color: #f07;
  line-height: 30px;
}

.header_mid .sec_search_content .search_innerbox .selectbox:hover ol {
  display: block;
}

.header_mid .sec_search_content .search_innerbox input:first-of-type {
  width: 315px;
  height: 34px;
  text-indent: 70px;
  color: #a5a5a5;
  outline: none;
  border: 0;
}

.header_mid .sec_search_content .search_innerbox input:nth-of-type(2) {
  width: 100px;
  height: 34px;
  background: #ff1d68;
  outline: none;
  border: 0;
  float: right;
  color: #fff;
  font-size: 16px;
}

.header_mid .sec_search_content .txtbox {
  color: #666666;
  font-size: 12px;
  margin-top: 8px;
}

.header_mid .sec_search_content .txtbox a {
  margin: 0 4px;
  color: #666666;
}

.header_mid .sec_search_content .txtbox a:first-child {
  margin-left: 0;
}

.header_mid .sec_search_content .txtbox a:nth-child(6) {
  color: #ff6581;
}

.header_mid .sec_search_content .txtbox a:nth-child(7) {
  color: #ff6581;
}

.header_mid .sec_search_content .txtbox a:nth-child(10) {
  color: #ff6581;
}

.header_mid .sec_search_content .txtbox a:hover {
  text-decoration: underline;
  color: #f07;
}

.header_mid img:last-child {
  width: 220px;
  height: 90px;
  float: right;
}

.header_tip {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #ff0077;
}

.header_tip .header_cont {
  width: 1190px;
  height: 440px;
  margin: 0 auto;
  position: relative;
}

.header_tip .header_cont .header_tip_con {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header_tip .header_cont .header_tip_con .tip_con_left {
  width: 257px;
  height: 40px;
  float: left;
  position: relative;
}

.header_tip .header_cont .header_tip_con .tip_con_left img {
  width: 257px;
  height: 40px;
  border-radius: 5px 5px 0 0;
  float: left;
}

.header_tip .header_cont .header_tip_con .tip_con_left p {
  position: absolute;
  left: 50px;
  top: 6px;
  color: #fff;
  font-size: 18px;
}

.header_tip .header_cont .header_tip_con a {
  width: 140px;
  line-height: 40px;
  float: left;
  text-align: center;
  font-size: 18px;
  color: #333;
}

.header_tip .header_cont .header_tip_con a:hover {
  color: #ff1d83;
}

.header_tip .header_cont .header_tip_con span {
  float: left;
  margin-top: 10px;
  height: 20px;
  border-left: 1px solid #e7e7e7;
}

.header_tip .header_cont .Box {
  width: 1190px;
  height: 440px;
  position: absolute;
  left: 0px;
  top: 42px;
  z-index: 999;
  margin: 0 auto;
}

.header_tip .header_cont .Box .box {
  width: 1034px;
  height: 440px;
  overflow: hidden;
}

.header_tip .header_cont .Box .box .nav_left {
  width: 256px;
  height: 440px;
  font-size: 12px;
  color: #6f6e6d;
  overflow: hidden;
}

.header_tip .header_cont .Box .box .nav_left ul {
  width: 100%;
  height: 437px;
  padding-top: 3px;
  background: #fff0dd;
}

.header_tip .header_cont .Box .box .nav_left ul li {
  height: 27px;
  line-height: 27px;
  padding-left: 18px;
  padding-top: 4px;
}

.header_tip .header_cont .Box .box .nav_left ul li a {
  margin-left: 17px;
}

.header_tip .header_cont .Box .box .nav_left ul li a img {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

.header_tip .header_cont .Box .box .nav_left ul li a:hover {
  text-decoration: underline;
}

.header_tip .header_cont .Box .box .nav_left ul li a:first-child {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  margin-left: 0;
}

.header_tip .header_cont .Box .box .nav_left ul li:first-child a:nth-child(2) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:first-child a:nth-child(4) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(2) a:nth-child(2) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(2) a:nth-child(3) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(3) a {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(3) a:nth-child(1) {
  color: #6f6e6d;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(4) a:nth-child(2) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(5) a:nth-child(3) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(7) a:nth-child(4) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(8) a:nth-child(3) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(9) a:nth-child(4) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(12) a:nth-child(4) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(13) a:nth-child(2) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left ul li:nth-child(14) a:nth-child(3) {
  color: #ff1d83;
}

.header_tip .header_cont .Box .box .nav_left li:hover {
  background: #ffffff;
}

.header_tip .header_cont .Box .box .nav_right {
  width: 778px;
  height: 440px;
  position: absolute;
  margin-left: 256px;
  top: 0px;
  overflow: hidden;
  z-index: 999;
}

.header_tip .header_cont .Box .box .nav_right .sub {
  position: relative;
  overflow: hidden;
  width: 778px;
  height: 440px;
  background: #FFFFFF;
  border: 1px solid #f6f6f6;
  border-left: 0;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left {
  width: 520px;
  height: 440px;
  float: left;
  border-right: 1px solid #f6f6f6;
  box-sizing: border-box;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl {
  overflow: hidden;
  margin-left: 20px;
  padding-top: 21px;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl dt {
  width: 100%;
  display: block;
  position: relative;
  clear: left;
  overflow: hidden;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl dt a {
  font-size: 14px;
  color: #000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 28px;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl dt a:first-child {
  font-weight: bold;
  float: left;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl dt a:nth-child(2) {
  font-size: 12px;
  float: right;
  padding-right: 24px;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl dt a:nth-child(2) img {
  padding-left: 6px;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl dd {
  width: 436px;
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl dd a {
  font-size: 12px;
  float: left;
  color: #999;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  line-height: 25px;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_left dl dd a:hover {
  text-decoration: underline;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_right {
  width: 258px;
  height: 440px;
  float: right;
  overflow: hidden;
  text-align: center;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_right h4 {
  font-size: 16px;
  line-height: 50px;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_right .imgs {
  display: block;
  padding: 0 7px;
  overflow: hidden;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_right .imgs a {
  display: block;
  float: left;
  margin: 0 10px;
}

.header_tip .header_cont .Box .box .nav_right .sub .sub_right .imgs a p {
  font-size: 12px;
  color: #474747;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(1) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(1) dd a:nth-child(2) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(1) dd a:nth-child(3) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(1) dd a:nth-child(5) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(1) dd a:nth-child(6) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(1) dd a:nth-child(10) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(2) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(2) dd a:nth-child(3) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(2) dd a:nth-child(5) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(2) dd a:nth-child(8) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(3) dd a:nth-child(2) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(3) dd a:nth-child(4) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(1) dl:nth-child(3) dd a:nth-child(6) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(2) dl:nth-child(1) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(2) dl:nth-child(1) dd a:nth-child(3) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(2) dl:nth-child(2) dd a:nth-child(8) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(2) dl:nth-child(3) dd a:nth-child(6) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(2) dl:nth-child(3) dd a:nth-child(8) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(3) dl:nth-child(1) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(3) dl:nth-child(1) dd a:nth-child(2) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(3) dl:nth-child(2) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(3) dl:nth-child(3) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(1) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(1) dd a:nth-child(2) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(1) dd a:nth-child(3) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(1) dd a:nth-child(8) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(2) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(2) dd a:nth-child(3) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(2) dd a:nth-child(7) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(2) dd a:nth-child(10) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(3) dd a:nth-child(1) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(3) dd a:nth-child(3) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .sub:nth-child(4) dl:nth-child(3) dd a:nth-child(5) {
  color: #ff69af;
}

.header_tip .header_cont .Box .box .nav_right .hide {
  display: none;
}

.header_tip .header_cont .Box .box .nav_right .show {
  display: block;
}

.header_tip .header_cont .Box .sec_right {
  width: 166px;
  height: 420px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

.header_tip .header_cont .Box .sec_right .sec_box1 {
  width: 166px;
  height: 205px;
  background: #fff0dd;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

.header_tip .header_cont .Box .sec_right .sec_box1 a:nth-of-type(1) {
  display: block;
  width: 72px;
  height: 72px;
  background: #fa8abe;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.header_tip .header_cont .Box .sec_right .sec_box1 a:nth-of-type(1) img {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 22px;
  top: 22px;
}

.header_tip .header_cont .Box .sec_right .sec_box1 p {
  font-size: 12px;
  color: #333333;
  text-align: center;
  margin-top: 6px;
}

.header_tip .header_cont .Box .sec_right .sec_box1 p span {
  font-weight: 600;
}

.header_tip .header_cont .Box .sec_right .sec_box1 a:nth-of-type(2) {
  display: block;
  width: 65px;
  height: 22px;
  margin: 8px auto 0;
  border: 1px solid #ff6683;
  font-size: 12px;
  color: #ff5777;
  text-align: center;
  line-height: 22px;
}

.header_tip .header_cont .Box .sec_right .sec_box2 {
  width: 166px;
  height: 205px;
  background: #fff0dd;
}

.header_tip .header_cont .Box .sec_right .sec_box2 a {
  display: block;
  text-align: center;
}

.header_tip .header_cont .Box .sec_right .sec_box2 a:nth-of-type(1) {
  font-size: 16px;
  padding-top: 22px;
  color: #333;
}

.header_tip .header_cont .Box .sec_right .sec_box2 a:nth-of-type(2) {
  font-size: 14px;
  color: #666;
  line-height: 32px;
}

.header_tip .header_cont .Box .sec_right .sec_box2 a:nth-of-type(3) {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.header_tip .header_cont .Box .sec_right .sec_box2 a:nth-of-type(3) img {
  width: 130px;
  height: 130px;
}

section {
  width: 100%;
  height: 440px;
  position: relative;
  overflow: hidden;
}

/* flexslider */
.flexslider {
  position: relative;
  height: 440px;
  overflow: hidden;
}

.slides {
  position: relative;
  z-index: 1;
}

.slides li {
  height: 440px;
}

.flex-control-nav {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 100%;
  text-align: center;
}

.flex-control-nav li {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  *display: inline;
  zoom: 1;
}

.flex-control-nav a {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 48px;
  overflow: hidden;
  background: url(../img/dott.png) right 0 no-repeat;
  cursor: pointer;
}

.flex-control-nav .flex-active {
  background-position: 0 0;
}

.flex-direction-nav {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 45%;
}

.flex-direction-nav li a {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
}

.banner {
  width: 100%;
  height: 454px;
  background: #f5f5f5;
  overflow: hidden;
}

.banner .big_banner {
  width: 1190px;
  height: 441px;
  margin: 0 auto;
  padding-top: 13px;
}

.banner .big_banner .big_banner_top {
  width: 1190px;
  height: 294px;
}

.banner .big_banner .big_banner_top .big_ban_t_left {
  width: 230px;
  height: 294px;
  float: left;
  position: relative;
}

.banner .big_banner .big_banner_top .big_ban_t_left img {
  width: 230px;
  height: 294px;
}

.banner .big_banner .big_banner_top .big_ban_t_left .content {
  width: 160px;
  height: 40px;
  position: absolute;
  left: 36px;
  bottom: 32px;
}

.banner .big_banner .big_banner_top .big_ban_t_left .content span {
  float: left;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
}

.banner .big_banner .big_banner_top .big_ban_t_left .content i {
  width: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-style: normal;
  float: left;
  color: #333;
}

.banner .big_banner .big_banner_top .big_ban_t_right {
  width: 960px;
  height: 294px;
  float: right;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con {
  width: 960px;
  height: 294px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .img-list {
  list-style: none;
  width: 3840px;
  height: 294px;
  margin: 0 28px;
  position: absolute;
  left: 0;
  top: 0;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .img-list li {
  float: left;
  width: 960px;
  height: 294px;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .img-list li a {
  float: left;
  display: block;
  width: 190px;
  height: 294px;
  margin: 0 18px;
  position: relative;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .img-list li a p {
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  margin: 0 35px;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .img-list li a img {
  width: 190px;
  height: 190px;
  margin-top: 26px;
  margin-left: 28px;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .img-list li a i {
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  color: #ff5777;
  margin: 0 30px;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .img-list li a i span {
  line-height: 20px;
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
  margin-left: 30px;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .spans span {
  width: 25px;
  height: 54px;
  display: block;
  position: absolute;
  top: 90px;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .spans span:first-child {
  left: 0;
  background: url(../img/leftjiantou.png) no-repeat;
}

.banner .big_banner .big_banner_top .big_ban_t_right .big_ban_t_r_con .spans span:last-child {
  right: 0;
  background: url(../img/rightjiantou.png) no-repeat;
}

.banner .big_banner .big_banner_bot {
  width: 1190px;
  height: 150px;
  margin-top: 10px;
}

.banner .big_banner .big_banner_bot a {
  float: left;
  width: 230px;
  margin-right: 10px;
}

.banner .big_banner .big_banner_bot a img {
  display: block;
  width: 230px;
}

.banner .big_banner .big_banner_bot a:nth-child(1) {
  width: 470px;
  height: 150px;
}

.banner .big_banner .big_banner_bot a:nth-child(1) img {
  display: block;
  width: 470px;
  height: 150px;
}

.banner .big_banner .big_banner_bot a:nth-child(4) {
  margin-right: 0;
}

.wom {
  width: 100%;
  height: 671px;
  background: #f5f5f5;
  overflow: hidden;
  padding-top: 28px;
}

.wom .wom_sec {
  width: 1190px;
  height: 671px;
  margin: 0 auto;
  overflow: hidden;
}

.wom .wom_sec .wom_top {
  width: 1190px;
  height: 50px;
}

.wom .wom_sec .wom_top img {
  width: 8px;
  height: 21px;
  float: left;
  margin-top: 14px;
}

.wom .wom_sec .wom_top h4 {
  font-size: 20px;
  padding-left: 18px;
  margin-right: 42px;
  line-height: 51px;
  float: left;
}

.wom .wom_sec .wom_top a {
  font-size: 14px;
  display: block;
  float: left;
  line-height: 51px;
  color: #333;
}

.wom .wom_sec .wom_top span {
  float: left;
  line-height: 51px;
  margin: 0 18px;
  font-size: 12px;
}

.wom .wom_sec .wom_bot {
  width: 1190px;
  height: 624px;
  overflow: hidden;
}

.wom .wom_sec .wom_bot a {
  display: block;
  float: left;
  width: 230px;
  height: 624px;
  margin-right: 10px;
}

.wom .wom_sec .wom_bot a img {
  width: 230px;
  height: 624px;
  float: left;
}

.wom .wom_sec .wom_bot .wom_bot_cont {
  width: 950px;
  height: 671px;
  overflow: hidden;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid {
  position: relative;
  width: 950px;
  height: 408px;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .img-listA {
  list-style: none;
  width: 3840px;
  height: 408px;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .img-listA li {
  float: left;
  width: 960px;
  height: 408px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .img-listA li a {
  float: left;
  display: block;
  width: 230px;
  height: 408px;
  background: #fff;
  border-radius: 4px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .img-listA li a img {
  width: 198px;
  height: 297px;
  border-radius: 5px;
  margin: 18px 16px 5px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .img-listA li a p {
  width: 198px;
  margin: 0 auto;
  line-height: 21px;
  color: #333;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .img-listA li a span {
  width: 198px;
  font-size: 24px;
  font-weight: 100;
  margin-left: 12px;
  float: left;
  color: #ff5777;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .spanS span {
  width: 25px;
  height: 54px;
  display: block;
  position: absolute;
  top: 140px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .spanS span:first-child {
  left: 16px;
  background: url(../img/leftjiantou.png) no-repeat;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_slid .spanS span:last-child {
  right: 16px;
  background: url(../img/rightjiantou.png) no-repeat;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent {
  width: 950px;
  height: 113px;
  overflow: hidden;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent a {
  float: left;
  height: 113px;
  margin-right: 10px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent a img {
  height: 113px;
  float: left;
  overflow: hidden;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent a:first-child {
  width: 470px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent a:first-child img {
  width: 470px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent a:nth-child(2) {
  width: 230px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent a:nth-child(2) img {
  width: 230px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent a:nth-child(3) {
  width: 230px;
  margin-right: 0;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_cent a:nth-child(3) img {
  width: 230px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot {
  width: 950px;
  height: 83px;
  margin-top: 10px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot a {
  display: block;
  width: 210px;
  height: 73px;
  background: #fff;
  padding-left: 20px;
  margin-right: 10px;
  padding-bottom: 10px;
  position: relative;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot a span {
  display: block;
  font-size: 20px;
  color: #f24a8c;
  margin-top: 15px;
  line-height: 26px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot a p {
  color: #666;
  font-size: 14px;
  line-height: 26px;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot a img {
  width: 78px;
  height: 78px;
  position: absolute;
  right: 0;
  top: 0;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot a:nth-child(2) span {
  color: #6f95f6;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot a:nth-child(3) span {
  color: #ee46a1;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot a:last-child {
  margin-right: 0;
}

.wom .wom_sec .wom_bot .wom_bot_cont .big_ban_bot a:last-child span {
  color: #6ec6b0;
}

.slider {
  position: relative;
}

.slider .slider-dot ul {
  position: absolute;
  left: 250px;
  bottom: 25px;
}

.slider .slider-dot ul li {
  cursor: pointer;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ccc;
  float: left;
  margin-left: 15px;
}

.slider .slider-dot ul li.active, .slider .slider-dot ul li:hover {
  background: #000;
}

.slider .slider-btn {
  position: absolute;
  width: 50px;
  height: 100px;
  top: 50%;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  font-family: '黑体';
  color: rgba(255, 255, 255, 0);
}

.slider .slider-btn:hover {
  background: rgba(125, 125, 125, 0.3);
}

.shoes {
  width: 100%;
  height: 593px;
  background: #f5f5f5;
  padding-top: 34px;
}

.shoes .show_cont {
  width: 1190px;
  height: 593px;
  margin: 0 auto;
  overflow: hidden;
}

.shoes .show_cont .shoes_top {
  width: 1190px;
  height: 50px;
  overflow: hidden;
}

.shoes .show_cont .shoes_top img {
  width: 8px;
  height: 21px;
  float: left;
  margin-top: 14px;
}

.shoes .show_cont .shoes_top h4 {
  font-size: 20px;
  padding-left: 18px;
  margin-right: 42px;
  line-height: 51px;
  float: left;
}

.shoes .show_cont .shoes_top a {
  font-size: 14px;
  display: block;
  float: left;
  line-height: 51px;
  color: #333;
}

.shoes .show_cont .shoes_top span {
  float: left;
  line-height: 51px;
  margin: 0 18px;
  font-size: 12px;
}

.shoes .show_cont .shoes_bot {
  width: 1190px;
  height: 555px;
  overflow: hidden;
}

.shoes .show_cont .shoes_bot .imgA {
  width: 230px;
  height: 555px;
  float: left;
}

.shoes .show_cont .shoes_bot .imgA img {
  width: 230px;
  height: 555px;
  margin-right: 10px;
  float: left;
}

.shoes .show_cont .shoes_bot .shoes_bot_con {
  width: 630px;
  height: 555px;
  float: left;
  margin-left: 10px;
}

.shoes .show_cont .shoes_bot .shoes_bot_con .shoes_bot_sild {
  position: relative;
  width: 100%;
  height: 555px;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
}

.shoes .show_cont .shoes_bot .shoes_bot_con .shoes_bot_sild .shoes-listA {
  list-style: none;
  width: 5040px;
  height: 555px;
  float: left;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10px;
  padding-top: 21px;
}

.shoes .show_cont .shoes_bot .shoes_bot_con .shoes_bot_sild .shoes-listA li {
  float: left;
  width: 630px;
  height: 555px;
}

.shoes .show_cont .shoes_bot .shoes_bot_con .shoes_bot_sild .shoes-listA li a {
  float: left;
  width: 182px;
  margin: 0 10px 15px;
}

.shoes .show_cont .shoes_bot .shoes_bot_con .shoes_bot_sild .shoes-listA li a img {
  width: 182px;
  height: 182px;
  float: left;
}

.shoes .show_cont .shoes_bot .shoes_bot_con .shoes_bot_sild .shoes-listA li a p {
  width: 182px;
  margin: 0 auto;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shoes .show_cont .shoes_bot .shoes_bot_con .shoes_bot_sild .shoes-listA li a span {
  width: 182px;
  font-size: 20px;
  font-weight: 100;
  float: left;
  color: #ff5777;
}

.shoes .show_cont .shoes_bot .shoes_bot_con .shoes_bot_sild .shoes-listA li a span i {
  font-size: 14px;
  font-style: normal;
}

.shoes .show_cont .shoes_bot .shoes_nav_right {
  width: 310px;
  height: 555px;
  overflow: hidden;
  margin-left: 10px;
  float: left;
  background: #fff;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con_t {
  width: 294px;
  height: 76px;
  padding-left: 16px;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con_t h4 {
  font-size: 18px;
  font-weight: 100;
  color: #333333;
  line-height: 64px;
  padding-top: 10px;
  float: left;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con_t a {
  color: #333;
  font-size: 14px;
  float: right;
  line-height: 64px;
  margin-top: 10px;
  padding-right: 16px;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con_t a img {
  width: 12px;
  height: 12px;
  margin-top: 26px;
  margin-right: 3px;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con {
  width: 294px;
  overflow: hidden;
  padding-left: 16px;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con .shoes_r_c_a {
  width: 100%;
  overflow: hidden;
  margin-bottom: 18px;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con .shoes_r_c_a a:nth-child(1) {
  float: left;
  width: 93px;
  color: #333;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con .shoes_r_c_a a:nth-child(1) img {
  display: block;
  width: 93px;
  height: 93px;
  float: left;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con .shoes_r_c_a a:nth-child(2) {
  float: left;
  color: #333;
  width: 170px;
  font-size: 14px;
  margin-left: 10px;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con .shoes_r_c_a a:nth-child(2) i {
  font-style: normal;
  color: #ff5777;
  font-size: 15px;
}

.shoes .show_cont .shoes_bot .shoes_nav_right .shoes_right_con .shoes_r_c_a a:nth-child(2) i span {
  font-size: 20px;
}

.guess {
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
}

.guess .guess_like {
  width: 1190px;
  height: 100%;
  margin: 35px auto 0;
}

.guess .guess_like h4 {
  font-size: 20px;
  line-height: 76px;
}

.guess .guess_like .guess_like_con {
  width: 100%;
}

.guess .guess_like .guess_like_con .like_list {
  width: 220px;
  background: #fff;
  padding-bottom: 5px;
  margin-right: 22px;
  margin-bottom: 22px;
  float: left;
}

.guess .guess_like .guess_like_con .like_list a {
  width: 100%;
  display: block;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(1) {
  height: 293px;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(1) img {
  width: 100%;
  height: 100%;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(2) {
  height: 40px;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(2) p {
  width: 202px;
  height: 40px;
  margin: 2px auto 0;
  overflow: hidden;
  font-size: 14px;
  color: #333;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(3) {
  width: 220px;
  height: 25px;
  line-height: 25px;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(3) h5 {
  font-size: 14px;
  margin-left: 7px;
  color: #333;
  float: left;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(3) i {
  font-style: normal;
  font-size: 12px;
  color: #666;
  text-decoration: line-through;
  float: left;
  margin-left: 8px;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(3) span {
  float: right;
  margin-right: 7px;
  font-size: 12px;
  color: #666;
}

.guess .guess_like .guess_like_con .like_list a:nth-child(3) span img {
  width: 15px;
  height: 15px;
  float: left;
  margin-top: 5px;
}

.guess .guess_like .guess_like_con .like_list:nth-child(5n) {
  margin-right: 0;
}
