@charset "UTF-8";
body, p, ul, ol, li, dl, dt, dd, form, table, tr, td, hr, h1, h2, h3, h4, h5, h6, figure, fieldset, legend, input {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑",Arial;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  border: none;
  display: block;
}

.souStore {
  width: 100%;
  height: 81px;
  background: #fff;
  border-bottom: 1px solid #dddddd;
}

.souStore .searchStore {
  width: 1190px;
  height: 82px;
  margin: 0 auto;
}

.souStore .searchStore .search_left {
  width: 507px;
  height: 80px;
  float: left;
}

.souStore .searchStore .search_left img {
  width: 42px;
  height: 42px;
  padding-top: 14px;
  float: left;
}

.souStore .searchStore .search_left .search_left_l {
  width: 250px;
  float: left;
  margin-left: 10px;
  margin-top: 14px;
}

.souStore .searchStore .search_left .search_left_l ._left_l_a {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

.souStore .searchStore .search_left .search_left_l span {
  display: block;
  width: 52px;
  height: 13px;
  background: url(../img/x_star.png) 0px 13px;
  background-size: 13px 25px;
}

.souStore .searchStore .search_left .search_left_l .ms {
  width: 100%;
  margin-top: 5px;
}

.souStore .searchStore .search_left .search_left_l .ms a {
  float: left;
  margin-right: 10px;
  font-size: 12px;
  color: #666;
}

.souStore .searchStore .search_left .search_left_l .ms a i {
  font-style: normal;
  color: #1aca60;
  margin-left: 2px;
}

.souStore .searchStore .search_left .search_left_c {
  width: 154px;
  height: 22px;
  float: left;
}

.souStore .searchStore .search_left .search_left_c ._left_div01 {
  width: 82px;
  height: 20px;
  background: url(../img/x_jingl.png) no-repeat 4px -48px;
  border: 1px solid #dddddd;
  float: left;
  margin-top: 30px;
  font-size: 12px;
  color: #333;
  line-height: 20px;
  text-indent: 24px;
}

.souStore .searchStore .search_left .search_left_c ._left_div02 {
  width: 58px;
  height: 20px;
  background: url(../img/talksl.gif) no-repeat 6px 1px;
  background-size: 45px 18px;
  border: 1px solid #dddddd;
  float: left;
  margin-top: 30px;
  color: #333;
  line-height: 20px;
  text-indent: 24px;
  margin-left: 10px;
}

.souStore .searchStore .search_left .search_left_x {
  width: 8px;
  height: 5px;
  margin-top: 26px;
  float: left;
  margin-left: 6px;
}

.souStore .searchStore .search_left .search_left_x img {
  width: 7px;
  height: 4px;
  display: block;
}

.souStore .searchStore .search_left .search_left_x:hover img {
  transform: rotateX(180deg);
  transform-origin: 0px 16px;
}

.souStore .searchStore .search_left .sp {
  height: 42px;
  border-left: 1px solid #eee;
  margin-top: 20px;
  float: left;
  margin-left: 25px;
}

.souStore .searchStore .search_right {
  float: right;
  width: 585px;
  height: 56px;
  margin-top: 22px;
}

.souStore .searchStore .search_right form {
  width: 480px;
  height: 34px;
  border: 1px solid #f07;
  border-right: 0;
  border-radius: 0 5px 5px 0;
}

.souStore .searchStore .search_right form input {
  outline: none;
  border: 0;
}

.souStore .searchStore .search_right form input:nth-child(1) {
  width: 315px;
  height: 32px;
  text-indent: 10px;
  font-size: 12px;
  color: #999;
}

.souStore .searchStore .search_right form input:nth-child(2) {
  width: 100px;
  height: 34px;
  background: #f07;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 16px;
  float: right;
}

.souStore .searchStore .search_right form + input {
  width: 100px;
  height: 36px;
  background: #f07;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: 0;
  float: right;
  margin-top: -36px;
}

.yiya {
  width: 100%;
  height: 150px;
  background: #afe3f1;
}

.yiya .yiya_sec {
  width: 1190px;
  margin: 0 auto;
}

.yiya .yiya_sec img {
  width: 176px;
  height: 85px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  height: 30px;
  background: #4d4d4d;
}

.nav .nav_con {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.nav .nav_con .uls {
  position: relative;
}

.nav .nav_con .uls li {
  float: left;
}

.nav .nav_con .uls li a {
  color: #fff;
  float: left;
  line-height: 30px;
  font-size: 14px;
}

.nav .nav_con .uls li a i {
  border: 6px solid transparent;
  border-top-color: #fff;
  position: absolute;
  left: 130px;
  top: 12px;
}

.nav .nav_con .uls li span {
  float: left;
  color: #5c5c5c;
  line-height: 30px;
  margin: 0 18px;
}

.nav .nav_con .uls li:nth-child(2) a {
  margin-right: 13px;
}

.nav .nav_con .uls li:nth-child(2) .nav_sel {
  width: 160px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 48px;
  top: 30px;
}

.nav .nav_con .uls li:nth-child(2) .nav_sel .ull {
  display: none;
}

.nav .nav_con .uls li:nth-child(2) .nav_sel .ull li {
  text-indent: 20px;
  background: url(../img/x_jingl.png) no-repeat -254px 14px;
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  height: 30px;
  float: none;
}

.nav .nav_con .uls li:nth-child(2) .nav_sel .ull li:hover {
  background-color: #8f8d8d;
}

.nav .nav_con .uls li:nth-child(2):hover .ull {
  display: block;
}

.magnify {
  width: 100%;
  height: 680px;
  padding-top: 26px;
  background-color: #fff;
}

.magnify .mag_con {
  width: 1200px;
  height: 680px;
  margin: 0 auto;
}

.magnify .mag_con .mag_left {
  width: 1058px;
  height: 669px;
  border-right: 1px solid #dfdbdb;
  float: left;
}

.magnify .mag_con .mag_left .preview {
  width: 400px;
  height: 669px;
  float: left;
}

.magnify .mag_con .mag_left .precon {
  height: 656px;
  float: left;
  overflow: hidden;
}

.magnify .mag_con .mag_left .precon a {
  display: block;
  width: 537px;
  margin-left: 27px;
}

.magnify .mag_con .mag_left .precon a p {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.magnify .mag_con .mag_left .precon .spanDiv {
  width: 537px;
  height: 96px;
  background: #f1eeee;
  margin-left: 22px;
  margin-top: 10px;
}

.magnify .mag_con .mag_left .precon .spanDiv a {
  display: block;
  width: 100%;
  line-height: 32px;
  margin-left: 10px;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(1) {
  color: #4d4d4d;
  font-size: 12px;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(1) span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-left: 10px;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(2) p {
  font-size: 12px;
  color: #ee4545;
  font-weight: 100;
  float: left;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(2) p span {
  font-size: 22px;
  margin-left: 2px;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(2) p:nth-child(2) {
  margin-left: 212px;
  color: #4d4d4d;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(2) p:nth-child(2) span {
  margin-left: 2px;
  color: #000;
  font-size: 10px;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(2) p:nth-child(3) {
  color: #4d4d4d;
  margin-left: 15px;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(2) p:nth-child(3) span {
  margin-left: 2px;
  color: #000;
  font-size: 10px;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(3) {
  color: #4d4d4d;
  font-size: 12px;
  overflow: hidden;
}

.magnify .mag_con .mag_left .precon .spanDiv a:nth-child(3) span {
  font-weight: 100;
  margin-left: 2px;
}

.magnify .mag_con .mag_left .precon .ulDiv {
  width: 537px;
  margin-left: 40px;
  font-size: 12px;
  color: #999;
  margin-top: 15px;
}

.magnify .mag_con .mag_left .precon .ulDiv li {
  width: 537px;
}

.magnify .mag_con .mag_left .precon .ulDiv li p {
  float: left;
  width: 50px;
}

.magnify .mag_con .mag_left .precon .ulDiv li a {
  width: 487px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(1) {
  height: 44px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(1) a {
  margin-left: 0px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(2) {
  height: 69px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(2) a img {
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 15px;
  border: 1px solid #c4c2c2;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(3) {
  height: 52px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(3) span {
  float: left;
  padding: 6px 10px;
  border: 1px solid #c4c2c2;
  margin-right: 10px;
  font-weight: 600;
  color: #000;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(4) {
  height: 42px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(4) a {
  line-height: 25px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(4) span {
  float: left;
  width: 24px;
  height: 23px;
  border: 1px solid #c4c2c2;
  text-align: center;
  line-height: 23px;
  font-weight: 600;
  font-size: 16px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(4) span:first-child {
  border-right: 0;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(4) span:nth-child(3) {
  border-left: 0;
  margin-right: 10px;
}

.magnify .mag_con .mag_left .precon .ulDiv li:nth-child(4) input {
  float: left;
  width: 42px;
  height: 21px;
  text-align: center;
}

.magnify .mag_con .mag_left .precon .aDiv {
  width: 537px;
  height: 77px;
  margin-left: 70px;
}

.magnify .mag_con .mag_left .precon .aDiv a {
  font-size: 20px;
  float: left;
  text-align: center;
  margin-left: 10px;
}

.magnify .mag_con .mag_left .precon .aDiv a:first-child {
  width: 200px;
  height: 50px;
  color: #fff;
  background: #e45757;
  line-height: 50px;
}

.magnify .mag_con .mag_left .precon .aDiv a:nth-child(2) {
  width: 202px;
  height: 50px;
  color: #333;
  line-height: 50px;
  border: 1px solid #c4c2c2;
}

.magnify .mag_con .mag_left .precon .aDiv a:nth-child(3) {
  width: 50px;
  height: 50px;
  border: 1px solid #c4c2c2;
  background: url(../img/x_jingling.png) no-repeat 12px -22px;
}

.magnify .mag_con .mag_left .precon .goodsDiv {
  width: 100%;
  height: 24px;
  margin-left: 80px;
}

.magnify .mag_con .mag_left .precon .goodsDiv .goods_a {
  border: 1px solid #c4c2c2;
  padding: 0 11px;
  float: left;
  line-height: 23px;
  border-radius: 13px;
  font-size: 12px;
  color: #999;
}

.magnify .mag_con .mag_left .precon .goodsDiv .goods_a img {
  width: 14px;
  height: 13px;
  float: left;
  margin-top: 5px;
  margin-right: 3px;
}

.magnify .mag_con .mag_left .precon .goodsDiv .goods_b {
  border: 1px solid #c4c2c2;
  border-radius: 13px;
  padding: 0 13px;
  float: left;
  font-size: 12px;
  line-height: 21px;
  color: #999;
  margin-left: 10px;
}

.magnify .mag_con .mag_left .precon .goodsDiv .goods_b span {
  font-size: 16px;
  color: #ee4545;
  font-weight: 600;
}

.magnify .mag_con .mag_left .precon .goodsDiv .goods_c {
  width: 20px;
  height: 26px;
  float: left;
  line-height: 26px;
}

.magnify .mag_con .mag_left .precon .goodsDiv .goods_c a {
  color: #999;
  font-size: 12px;
  margin-left: 12px;
}

.magnify .mag_con .mag_left .precon .lisDiv {
  width: 100%;
  margin-left: 40px;
  overflow: hidden;
  margin-top: 20px;
}

.magnify .mag_con .mag_left .precon .lisDiv ul li {
  float: left;
  font-size: 12px;
  color: #999;
  margin-right: 10px;
  line-height: 22px;
}

.magnify .mag_con .mag_left .precon .lisDiv ul li img {
  float: left;
}

.magnify .mag_con .mag_left .precon .lisDiv ul li:nth-child(1) {
  margin-right: 0;
}

.magnify .mag_con .mag_left .precon .payDiv {
  width: 100%;
  margin-left: 40px;
  overflow: hidden;
  margin-top: 15px;
}

.magnify .mag_con .mag_left .precon .payDiv ul li {
  float: left;
  font-size: 12px;
  color: #999;
  margin-right: 10px;
  line-height: 22px;
}

.magnify .mag_con .mag_left .precon .payDiv ul li img {
  float: left;
}

.magnify .mag_con .mag_left .precon .payDiv ul li:nth-child(1) {
  margin-right: 0;
}

.magnify .mag_con .mag_right {
  width: 141px;
  height: 679px;
  float: right;
}

.magnify .mag_con .mag_right p {
  font-size: 18px;
  color: #666;
  text-align: center;
}

.magnify .mag_con .mag_right a {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.magnify .mag_con .mag_right img {
  display: block;
  width: 108px;
  height: 163px;
  margin: 0 auto;
  margin-bottom: 5px;
}

/* smallImg */
.smallImg {
  position: relative;
  height: 60px;
  margin-top: 9px;
  width: 400px;
  overflow: hidden;
  float: left;
}

.scrollbutton {
  width: 14px;
  height: 55px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}

.scrollbutton.smallImgUp, .scrollbutton.smallImgUp.disabled {
  background: url(../img/d_08.png) no-repeat;
  margin-top: 4px;
}

.scrollbutton.smallImgDown, .scrollbutton.smallImgDown.disabled {
  background: url(../img/d_09.png) no-repeat;
  margin-left: 385px;
  margin-top: -55px;
}

#imageMenu {
  height: 60px;
  width: 360px;
  overflow: hidden;
  float: left;
}

#imageMenu ul {
  margin-left: 10px;
}

#imageMenu li {
  height: 70px;
  width: 70px;
  overflow: hidden;
  float: left;
  text-align: center;
}

#imageMenu li img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.5;
}

#imageMenu li#onlickImg img, #imageMenu li:hover img {
  opacity: 1;
}

/* bigImg */
.bigImg {
  position: relative;
  float: left;
  width: 400px;
  height: 600px;
  overflow: hidden;
}

.bigImg #midimg {
  width: 400px;
  height: 600px;
}

.bigImg #winSelector {
  width: 235px;
  height: 210px;
}

#winSelector {
  position: absolute;
  cursor: crosshair;
  filter: alpha(opacity=15);
  -moz-opacity: 0.15;
  opacity: 0.15;
  background-color: #000;
  border: 1px solid #fff;
}

/* bigView */
#bigView {
  position: absolute;
  border: 1px solid #959595;
  overflow: hidden;
  z-index: 999;
}

#bigView img {
  position: absolute;
}

.mg {
  width: 100%;
}

.mg .mg_con {
  width: 1200px;
  height: 164px;
  border: 1px solid #dfdbdb;
  margin: 0 auto;
}

.mg .mg_con .mg_con_top {
  margin: 24px 18px 0;
  height: 38px;
  border-bottom: 1px solid #dfdbdb;
}

.mg .mg_con .mg_con_top img {
  width: 62px;
  height: 15px;
  display: block;
  float: left;
  margin-top: 2px;
}

.mg .mg_con .mg_con_top p {
  font-size: 14px;
  color: #333;
  float: left;
  margin-left: 10px;
}

.mg .mg_con .mg_con_top span {
  float: right;
  font-size: 14px;
  color: #333;
}

.mg .mg_con .mg_con_top span a {
  color: #666;
  text-decoration: underline;
}

.mg .mg_con .mg_con_bot {
  margin: 20px 18px 0;
}

.mg .mg_con .mg_con_bot ._bot_con {
  width: 31.3%;
  background: #fff0f0;
  border-radius: 5px;
  overflow: hidden;
}

.mg .mg_con .mg_con_bot ._bot_con a {
  font-size: 14px;
  color: #333;
  float: left;
  line-height: 40px;
  margin: 10px 10px 0 10px;
}

.mg .mg_con .mg_con_bot ._bot_con a img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.mg .mg_con .mg_con_bot ._bot_con .ct {
  margin-left: 66px;
  font-size: 12px;
  float: left;
  margin-top: 10px;
}

.mg .mg_con .mg_con_bot ._bot_con .ct p {
  color: #ff5777;
  line-height: 21px;
}

.mg .mg_con .mg_con_bot ._bot_con .ct span {
  color: #999;
}

.mg .mg_con .mg_con_bot ._bot_con input {
  width: 80px;
  height: 58px;
  border: 0;
  background: #fedcdc;
  float: left;
  text-align: center;
  color: #ff5777;
  font-size: 14px;
  float: right;
}

.xqy {
  width: 100%;
  overflow: hidden;
}

.xqy .xqy_con {
  width: 1200px;
  margin: 0 auto;
}

.xqy .xqy_con .xqy_left {
  width: 198px;
  height: 800px;
  float: left;
  margin-top: 20px;
  border: 1px solid #959595;
}

.xqy .xqy_con .xqy_center {
  float: left;
  margin-top: 20px;
  border: 1px solid #959595;
  margin-left: 20px;
}

.xqy .xqy_con .xqy_center .xqy_center_mid {
  width: 738px;
  height: 900px;
  float: left;
  border-right: 1px solid #959595;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_tit {
  width: 738px;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_tit ul li {
  width: 149px;
  height: 58px;
  float: left;
  line-height: 58px;
  text-align: center;
  border-right: 1px solid #959595;
  border-bottom: 1px solid #959595;
  background: #eee;
  box-sizing: border-box;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_tit ul li a {
  color: #333;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_tit ul li.on {
  background: #fff;
  border-top: 4px solid #fe5878;
  border-bottom: 0;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_pro {
  width: 738px;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_pro .spxq {
  width: 702px;
  margin: 0 auto;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_pro .spxq img {
  width: 702px;
  height: 337px;
  padding-top: 30px;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_pro .ljpj {
  width: 702px;
  margin: 0 auto;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_pro .ljpj img {
  width: 704px;
  height: 491px;
  padding-top: 30px;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_pro .bdtl {
  width: 702px;
  margin: 0 auto;
  margin-top: 20px;
}

.xqy .xqy_con .xqy_center .xqy_center_mid .x_pro .bdtl img {
  width: 705px;
  height: 344px;
  padding-top: 30px;
}

.xqy .xqy_con .xqy_center .xqy_center_right {
  width: 239px;
  height: 700px;
  float: left;
}

.product {
  display: none;
}

.show {
  display: block;
}
