body,p,ul,ol,li,dl,dt,dd,form,table,tr,td,hr,h1,h2,h3,h4,h5,h6,figure,fieldset,legend,input{
	margin:0;
	padding: 0;
}
body{
	font-family: "微软雅黑",Arial;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
img{
	border: none;
    display: block;
}

.souStore{
    width: 100%;
    height: 81px;
    background: #fff;
    border-bottom: 1px solid #dddddd;
    .searchStore{
        width: 1190px;
        height: 82px;
        margin: 0 auto;
        .search_left{
            width: 507px;
            height: 80px;
            float: left;
            img{
                width: 42px;
                height: 42px;
                padding-top: 14px;
                float: left;
            }
            .search_left_l{
                width: 250px;
                float: left; 
                margin-left: 10px; 
                margin-top: 14px;
                ._left_l_a{
                    font-size: 14px;
                    color: #333;
                    line-height: 21px;
                }   
                span{
                    display: block;
                    width: 52px;
                    height: 13px;
                    background: url(../img/x_star.png) 0px 13px;
                    background-size: 13px 25px;
                } 
                .ms{
                    width: 100%;
                    margin-top: 5px;
                    a{
                        float: left;
                        margin-right: 10px;
                        font-size: 12px;
                        color: #666;
                        i{
                            font-style: normal;
                            color: #1aca60;
                            margin-left: 2px;
                        }
                    }
                }  
            }
            .search_left_c{
                width: 154px;
                height: 22px;
                float: left;
                ._left_div01{
                    width: 82px;
                    height: 20px;
                    background:url(../img/x_jingl.png) no-repeat 4px -48px;
                    border: 1px solid #dddddd;
                    float: left;
                    margin-top: 30px;
                    font-size: 12px;
                    color: #333;
                    line-height: 20px;
                    text-indent: 24px;
                }
                ._left_div02{
                    width: 58px;
                    height: 20px;
                    background:url(../img/talksl.gif) no-repeat 6px 1px;
                    background-size: 45px 18px;
                    border: 1px solid #dddddd;
                    float: left;
                    margin-top: 30px;
                    color: #333;
                    line-height: 20px;
                    text-indent: 24px;
                    margin-left: 10px;
                }
            }
            .search_left_x{
                width: 8px;
                height: 5px;
                margin-top: 26px;
                float: left;
                margin-left: 6px;
                img{
                    width: 7px;
                    height: 4px;
                    display: block;
                }
            }
            .search_left_x:hover img{
                transform: rotateX(180deg);
                transform-origin: 0px 16px;
            }
            .sp{
                height: 42px;
                border-left: 1px solid #eee;
                margin-top: 20px;
                float: left;
                margin-left: 25px;
            }
        }
        .search_right{
            float: right;
            width: 585px;
            height: 56px;
            margin-top: 22px;
            form{
                width: 480px;
                height: 34px;
                border: 1px solid #f07;
                border-right: 0;
                border-radius: 0 5px 5px 0;
                input{
                    outline: none;
                    border: 0;
                }
                input:nth-child(1){
                    width: 315px;
                    height: 32px;    
                    text-indent: 10px; 
                    font-size: 12px;
                    color: #999;            
                }
                input:nth-child(2){
                    width: 100px;
                    height: 34px;
                    background: #f07;
                    border-radius: 0 5px 5px 0;
                    color: #fff;
                    font-size: 16px;
                    float: right;
                }
            }    
            form+input{
                width: 100px;
                height: 36px;
                background: #f07;
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                outline: none;
                border: 0;
                float: right;
                margin-top: -36px;
            }
        }
    }
}

// 咿呀Home 
.yiya{
    width: 100%;
    height: 150px;
    background: #afe3f1;
    .yiya_sec{
        width: 1190px;
        margin: 0 auto;
        img{
            width: 176px;
            height: 85px;
            margin: 0 auto;
        }
    }
}

// 导航栏
.nav{
    width: 100%;
    height: 30px;
    background: #4d4d4d;
    .nav_con{
        width: 1190px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        .uls{
            position: relative;
            li{
                float: left;
                a{
                    color: #fff;
                    float: left;
                    line-height: 30px;
                    font-size: 14px;
                    i{
                        border: 6px solid transparent; 
                        border-top-color: #fff; 
                        position: absolute;
                        left: 130px;
                        top: 12px;
                    }
                } 
                span{
                    float: left;
                    color: #5c5c5c;
                    line-height: 30px;
                    margin: 0 18px;
                }  
            }
            li:nth-child(2){
                a{
                    margin-right: 13px;
                }
                .nav_sel{
                    width: 160px;
                    background: rgba(0,0,0,0.7);
                    position: absolute;
                    left: 48px;
                    top: 30px;
                    .ull{
                        display: none;
                        li{
                            text-indent: 20px;
                            background: url(../img/x_jingl.png) no-repeat -254px 14px;
                            font-size: 12px;
                            color: #fff;
                            line-height: 30px;
                            height: 30px;
                            float: none;      
                        }
                        li:hover{
                            background-color: #8f8d8d;
                        }
                    }
                }
            }        
            li:nth-child(2):hover .ull{
                display: block;
            }
        }       
    }
}

// 放大镜
.magnify{
    width: 100%;
    height: 680px;
    padding-top: 26px;
    background-color: #fff;
    .mag_con{
        width: 1200px;
        height: 680px;
        margin: 0 auto;
        .mag_left{
            width: 1058px;
            height: 669px;
            border-right: 1px solid #dfdbdb;
            float: left;
            .preview {
                width: 400px;
                height: 669px;
                float: left;
            }
            .precon{
                height: 656px;
                float: left;
                overflow: hidden;
                a{
                    display: block;
                    width: 537px;
                    margin-left: 27px;
                    p{
                        font-size: 24px;
                        font-weight: 600;
                        color: #333;
                    }
                }
                .spanDiv{
                    width: 537px;
                    height: 96px;
                    background: #f1eeee;
                    margin-left:22px;
                    margin-top: 10px;
                    a{
                        display: block;
                        width: 100%;
                        line-height: 32px;
                        margin-left: 10px;
                    }
                    a:nth-child(1){
                        color: #4d4d4d;
                        font-size: 12px;
                        span{
                            font-size: 14px;
                            font-weight: 600;
                            color: #000;
                            margin-left: 10px;
                        }
                    }
                    a:nth-child(2){                       
                        p{
                            font-size: 12px;
                            color: #ee4545;
                            font-weight: 100;
                            float: left;
                            span{
                                font-size: 22px; 
                                margin-left: 2px;
                            }
                        }
                        p:nth-child(2){
                            margin-left: 212px;
                            color: #4d4d4d;
                            span{
                                margin-left: 2px;
                                color: #000;
                                font-size: 10px;
                            }
                        }
                        p:nth-child(3){
                            color: #4d4d4d;
                            margin-left: 15px;
                            span{
                                margin-left: 2px;
                                color: #000;
                                font-size: 10px;
                            }
                        }
                    }
                    a:nth-child(3){
                        color: #4d4d4d;
                        font-size: 12px;
                        overflow: hidden;
                        span{
                            font-weight: 100;
                            margin-left: 2px;
                        }
                    }
                }
                .ulDiv{
                    width: 537px;
                    margin-left: 40px;
                    font-size: 12px;
                    color: #999;
                    margin-top: 15px;
                    li{
                        width: 537px;
                        p{
                            float: left;
                            width: 50px;
                        }
                        a{
                            width: 487px;
                        }
                    }
                    li:nth-child(1){
                        height: 44px;
                        a{  
                            margin-left: 0px;
                        }
                    }
                    li:nth-child(2){
                        height: 69px;
                        a{
                            img{
                                width: 45px;
                                height: 45px;
                                float: left;
                                margin-right: 15px;
                                border: 1px solid #c4c2c2;
                            }
                        }
                    }
                    li:nth-child(3){
                        height: 52px;
                        span{
                            float: left;
                            padding: 6px 10px;
                            border: 1px solid #c4c2c2;
                            margin-right: 10px;
                            font-weight: 600;
                            color: #000;
                        }
                    }
                    li:nth-child(4){
                        height: 42px;
                        a{
                            line-height: 25px;
                        }
                        span{
                            float: left;
                            width: 24px;
                            height: 23px;
                            border: 1px solid #c4c2c2;
                            text-align: center;
                            line-height: 23px;
                            font-weight: 600;
                            font-size: 16px;
                        }
                        span:first-child{
                            border-right:0;
                        }
                        span:nth-child(3){
                            border-left: 0;
                            margin-right: 10px;
                        }
                        input{
                            float: left;
                            width: 42px;
                            height: 21px;
                            text-align: center;
                        }
                    }
                }
                .aDiv{
                    width: 537px;
                    height: 77px;
                    margin-left: 70px;
                    a{ 
                        font-size: 20px;
                        float: left;
                        text-align: center;
                        margin-left: 10px;
                    }
                    a:first-child{
                        width: 200px;
                        height: 50px;
                        color: #fff;
                        background: #e45757;
                        line-height: 50px;
                    }
                    a:nth-child(2){
                        width: 202px;
                        height: 50px;
                        color: #333;
                        line-height: 50px;
                        border: 1px solid #c4c2c2;
                    }
                    a:nth-child(3){
                        width: 50px;
                        height: 50px;
                        border: 1px solid #c4c2c2;
                        background: url(../img/x_jingling.png) no-repeat 12px -22px;
                    }

                }
                .goodsDiv{
                    width: 100%;
                    height: 24px;
                    margin-left: 80px;
                    .goods_a{
                        border: 1px solid #c4c2c2;
                        padding: 0 11px;
                        float: left;
                        line-height: 23px;
                        border-radius: 13px;
                        font-size: 12px;
                        color: #999;
                        img{
                            width: 14px;
                            height: 13px;
                            float: left;
                            margin-top: 5px;
                            margin-right: 3px;
                        }
                    }
                    .goods_b{
                        border: 1px solid #c4c2c2;
                        border-radius: 13px;
                        padding: 0 13px;
                        float: left;
                        font-size: 12px;
                        line-height: 21px;
                        color: #999;
                        margin-left: 10px;
                        span{
                            font-size: 16px;
                            color: #ee4545;
                            font-weight: 600;
                        }
                    }
                    .goods_c{
                        width: 20px;
                        height: 26px;
                        float: left;
                        line-height: 26px;
                        a{
                            color: #999;
                            font-size: 12px;
                            margin-left: 12px;
                        }
                        
                    }                   
                }
                .lisDiv{
                    width: 100%;
                    margin-left: 40px;
                    overflow: hidden;   
                    margin-top: 20px;                 
                    ul{
                        li{
                            float: left;
                            font-size: 12px;
                            color: #999;
                            margin-right: 10px;
                            line-height: 22px;
                            img{
                                float: left;
                            }
                        }
                        li:nth-child(1){
                            margin-right: 0;
                        }
                    }
                    
                }
                .payDiv{
                    width: 100%;
                    margin-left: 40px;
                    overflow: hidden;   
                    margin-top: 15px;                 
                    ul{
                        li{
                            float: left;
                            font-size: 12px;
                            color: #999;
                            margin-right: 10px;
                            line-height: 22px;
                            img{
                                float: left;
                            }
                        }
                        li:nth-child(1){
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .mag_right{
            width: 141px;
            height: 679px;
            float: right;
            p{
                font-size: 18px;
                color: #666;
                text-align: center;
            }
            a{
                display: block;
                text-align: center;
                margin-top: 15px;
            }
            img{
                display: block;
                width: 108px;
                height: 163px;
                margin: 0 auto;
                margin-bottom: 5px;
            }
        }
    }
}
/* smallImg */
.smallImg {
    position: relative;
    height: 60px;
    margin-top: 9px;
    width: 400px;
    overflow: hidden;
    float: left;
}
.scrollbutton {
    width: 14px;
    height: 55px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
}
.scrollbutton.smallImgUp,.scrollbutton.smallImgUp.disabled {
    background: url(../img/d_08.png) no-repeat;
    margin-top: 4px;
}
.scrollbutton.smallImgDown,.scrollbutton.smallImgDown.disabled {
    background: url(../img/d_09.png) no-repeat;
    margin-left: 385px;
    margin-top:-55px;
}
#imageMenu {
    height: 60px;
    width: 360px;
    overflow: hidden;
    float: left;
}
#imageMenu ul{
    margin-left: 10px;
}
#imageMenu li {
    height: 70px;
    width: 70px;
    overflow: hidden;
    float: left;
    text-align: center;    
}
#imageMenu li img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.5;
}
#imageMenu li#onlickImg img,#imageMenu li:hover img {
    opacity: 1;
}
/* bigImg */
.bigImg {
    position: relative;
    float: left;
    width: 400px;
    height: 600px;
    overflow: hidden;
}
.bigImg #midimg {
    width: 400px;
    height: 600px;
}
.bigImg #winSelector {
    width: 235px;
    height: 210px;
}
#winSelector {
    position: absolute;
    cursor: crosshair;
    filter: alpha(opacity = 15);
    -moz-opacity: 0.15;
    opacity: 0.15;
    background-color: #000;
    border: 1px solid#fff;
}
/* bigView */
#bigView {
    position: absolute;
    border: 1px solid#959595;
    overflow: hidden;
    z-index: 999;
}
#bigView img {
    position: absolute;
}


// 蘑菇拼团
.mg{
    width: 100%;
    .mg_con{
        width: 1200px;
        height: 164px;
        border: 1px solid #dfdbdb;
        margin: 0 auto;
        .mg_con_top{
            margin: 24px 18px 0;
            height: 38px;
            border-bottom: 1px solid #dfdbdb;
            img{
                width: 62px;
                height: 15px;
                display: block;
                float: left;
                margin-top: 2px;
            }
            p{
                font-size: 14px;
                color: #333;
                float: left;
                margin-left: 10px;
            }
            span{
                float: right;
                font-size: 14px;
                color: #333;
                a{
                    color: #666;
                    text-decoration: underline;
                }
            }
        }
        .mg_con_bot{
            margin: 20px 18px 0;
            ._bot_con{
                width: 31.3%;
                background: #fff0f0;
                border-radius: 5px;
                overflow: hidden;
                a{
                    font-size: 14px;
                    color: #333;
                    float: left;
                    line-height: 40px;
                    margin: 10px 10px 0 10px;
                    img{
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    float: left;
                    margin-right: 10px;
                    }
                }
                .ct{
                    margin-left: 66px;
                    font-size: 12px;
                    float: left;
                    margin-top: 10px;
                    p{
                        color: #ff5777;
                        line-height: 21px;
                    }
                    span{
                        color: #999;
                    }
                }
                input{
                    width: 80px;
                    height: 58px;
                    border: 0;
                    background: #fedcdc;
                    float: left;
                    text-align: center;
                    color: #ff5777;
                    font-size: 14px;
                    float: right;
                }
            }
        }
    }
}

// 详情
.xqy{
    width: 100%;
    overflow: hidden;
    .xqy_con{
        width: 1200px;
        margin: 0 auto;
        .xqy_left{
            width: 198px;
            height: 800px;
            float: left;
            margin-top: 20px;
            border: 1px solid #959595;
        }
        .xqy_center{
            float: left;
            margin-top: 20px;
            border: 1px solid #959595;
            margin-left: 20px;
            .xqy_center_mid{
                width: 738px;
                height: 900px;
                float: left;
                border-right: 1px solid #959595;
                .x_tit{
                    width: 738px;
                    ul{
                        li{
                            width: 149px;
                            height: 58px;
                            float: left;
                            line-height: 58px;
                            text-align: center;
                            border-right: 1px solid #959595;
                            border-bottom: 1px solid #959595;
                            background: #eee;
                            box-sizing: border-box;
                            a{
                                color: #333;
                            }
                        }
                        li.on{ 
                            background: #fff;
                            border-top: 4px solid #fe5878;
                            border-bottom: 0;
                        }
                    }
                }
                .x_pro{
                    width: 738px;
                    .spxq{
                        width: 702px;
                        margin: 0 auto;
                        img{
                            width: 702px;
                            height: 337px;
                            padding-top: 30px;
                        }
                    }
                    .ljpj{
                        width: 702px;
                        margin: 0 auto;
                        
                        img{
                            width: 704px;
                            height: 491px;
                            padding-top: 30px;
                        }
                    }
                    .bdtl{
                        width: 702px;
                        margin: 0 auto;
                        margin-top: 20px;
                        img{
                            width: 705px;
                            height: 344px;
                            padding-top: 30px;
                        }
                    }
                }
            }
            .xqy_center_right{
                width: 239px;
                height: 700px;
                float: left;
            }
        }
    }   
}
.product{
    display: none;
}
.show{ 
    display: block;
}