@charset "UTF-8";
body, p, ul, ol, li, dl, dt, dd, form, table, tr, td, hr, h1, h2, h3, h4, h5, h6, figure, fieldset, legend, input {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑",Arial;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  border: none;
  display: block;
}

/*header*/
.zc_header {
  width: 100%;
  height: 97px;
}

.zc_header .zc_header_con {
  width: 1190px;
  height: 97px;
  margin: 0 auto;
  line-height: 97px;
}

.zc_header .zc_header_con img {
  float: left;
  margin: 20px 80px 0 30px;
}

.zc_header .zc_header_con p {
  font-size: 12px;
  color: #666666;
  width: 840px;
  height: 28px;
  float: left;
  line-height: 28px;
  border: 1px solid #ffc0cc;
  background: #ffefef;
  margin-top: 32px;
  text-align: center;
}

/*content*/
.content {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url(../img/zc_bg.png) no-repeat center center;
}

.content .content1 {
  width: 1190px;
  height: 600px;
  margin: 0 auto;
  margin-top: 72px;
  position: relative;
}

.content .content1 .emptyBox {
  width: 700px;
  height: 440px;
  float: left;
}

.content .content1 .clickBox {
  width: 52px;
  height: 53px;
  float: left;
  margin-left: 72px;
  position: absolute;
  top: 24px;
  right: 37px;
}

.content .content1 .clickBox ul {
  width: 52px;
  height: 53px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 999;
}

.content .content1 .clickBox ul .ewm01 {
  width: 52px;
  height: 53px;
  background: url(../img/pc.png) no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
}

.content .content1 .clickBox ul .ewm02 {
  width: 46px;
  height: 46px;
  background: url(../img/erwei.png) no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

.content .content1 .clickBox .imgBox {
  position: absolute;
  right: -5px;
  top: -36px;
}

.content .content1 .clickBox .imgBox .ewm_con {
  width: 400px;
  height: 410px;
  background: rgba(255, 255, 255, 0.8);
}

.content .content1 .clickBox .imgBox .ewm_con img:nth-child(1) {
  width: 190px;
  height: 37px;
  margin: 30px auto 32px;
  padding-top: 30px;
}

.content .content1 .clickBox .imgBox .ewm_con img:nth-child(2) {
  width: 200px;
  height: 205px;
  margin: 0 auto;
}

.content .content1 .clickBox .imgBox .ewm_con a {
  display: block;
  width: 200px;
  margin: 52px auto 0;
  font-size: 18px;
  color: #615f5f;
  text-align: center;
  text-decoration: underline;
}

.content .content1 .clickBox .imgBox form {
  width: 400px;
  height: 348px;
  position: absolute;
  top: 30px;
  right: 0px;
  display: none;
}

.content .content1 .clickBox .imgBox form .ptdl {
  width: 400px;
  height: 348px;
  background: rgba(255, 255, 255, 0.8);
}

.content .content1 .clickBox .imgBox form .ptdl .prtop {
  width: 395px;
  height: 54px;
  padding-top: 10px;
  line-height: 41px;
  margin-left: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #d0bfbc;
}

.content .content1 .clickBox .imgBox form .ptdl .prtop li {
  font-size: 14px;
  font-weight: 600;
  width: 118px;
  float: left;
  margin: 0 39px;
  cursor: pointer;
  color: #4f3c3a;
  text-align: center;
}

.content .content1 .clickBox .imgBox form .ptdl .prtop li.on {
  color: #ff5777;
  border-bottom: 2px solid #ff5777;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot {
  width: 400px;
  margin-left: 40px;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot input {
  width: 315px;
  height: 40px;
  line-height: 40px;
  border: 0;
  outline: none;
  border: 1px solid #d0bfbc;
  font-size: 12px;
  text-indent: 6px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot input:nth-child(1) {
  margin-top: 69px;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot input:nth-child(2) {
  margin-top: 13px;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot input:nth-child(3) {
  margin-top: 22px;
  background: #ff5777;
  border: 0;
  border-radius: 3px;
  color: #fee4e4;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot .log {
  width: 400px;
  margin-top: 30px;
  height: 38px;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot .log a {
  width: 120px;
  float: left;
  font-size: 12px;
  color: #666;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot .log a img {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.content .content1 .clickBox .imgBox form .ptdl .prbot .fog {
  width: 160px;
  float: right;
  color: #8b8686;
  font-size: 12px;
  text-decoration: underline;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon {
  width: 400px;
  margin-left: 40px;
  display: none;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon input {
  width: 315px;
  height: 40px;
  line-height: 40px;
  border: 0;
  outline: none;
  border: 1px solid #d0bfbc;
  font-size: 12px;
  text-indent: 6px;
  background: rgba(255, 255, 255, 0);
}

.content .content1 .clickBox .imgBox form .ptdl .prcon input:nth-child(1) {
  margin-top: 69px;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon input:nth-child(2) {
  width: 110px;
  height: 42px;
  margin-top: 13px;
  background: #ff5777;
  color: #fee4e4;
  float: left;
  cursor: pointer;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon input:nth-child(3) {
  width: 194px;
  float: left;
  margin-left: 10px;
  margin-top: 13px;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon input:nth-child(4) {
  margin-top: 22px;
  border: 0;
  background: #ff5777;
  color: #fee4e4;
  border-radius: 3px;
  cursor: pointer;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon .log {
  width: 400px;
  margin-top: 30px;
  height: 38px;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon .log a {
  width: 120px;
  float: left;
  font-size: 12px;
  color: #666;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon .log a img {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.content .content1 .clickBox .imgBox form .ptdl .prcon .fog {
  width: 160px;
  float: right;
  color: #8b8686;
  font-size: 12px;
  text-decoration: underline;
}

.show, .shows {
  display: block;
}

.unde {
  z-index: 999;
}

.worning {
  display: none;
  border: 1px solid #ffd797;
  background: url(../img/heng.png) 12px no-repeat #fffff8;
  height: 30px;
  line-height: 30px;
  color: #ff1877;
  width: 273px;
  padding-left: 40px;
  margin-bottom: 9px;
}
